.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #dbece7;
    border-radius: 0.3rem;
    color: #201b1f;
  }
  body {
    color: #141618;
  text-align: left;
  background-color: rgb(212, 203, 203);
  }
  strong {
    font-weight: bolder;
  }
  input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
