{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<title> {{ title }} </title>

<div class="container-fluid">

    <h1>Home Page</h1>
<div class="row">
    <div class="col-md-4 panel"><a href="/category/promotion">Promotion</a></div>
    <div class="col-md-4 panel"><a href="category/pickup">Pick up</a></div>
    <div class="col-md-4 panel"><a href="/category/production">Production</a></div>
    <div class="col-md-4 panel"><a href='/category/interview'>Interview</a></div>
</div>

</div>

{% endblock %} 
